@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@1,600&display=swap');


* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  
}

html{scroll-behavior: smooth;
}

body{
  background-image: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  max-width: 1200px;
  margin: auto;
}

.logo{
  background-image: url('./assets/img/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.background-pizza{
  background-image: url('./assets/img/pizza1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-font{
  font-family: 'Dai Banna SIL', serif;
}

/* .section{padding: 50px 0;} */
