@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:ital,wght@1,600&display=swap');


* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
  
}

html{scroll-behavior: smooth;
}

body{
  background-image: linear-gradient(to right top, #f38e82, #f2a98a, #f0c39d, #efdab9, #f3eed9);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  max-width: 1700px;
  margin: auto;
}

.logo{
  background-image: url('./assets/img/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-font{
  font-family: 'Dai Banna SIL', serif;
}

/* .section{padding: 50px 0;} */


/* ! spinner css */

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60vh; */

}

.spinner {
  border: 4px solid #fbac7e53;
  border-top: 4px solid #FBAB7E; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/*! Pagination style */

.page {
 margin: 0 5px;
 padding: 8px 12px;
 cursor: pointer;
 border-radius: 15px;
 background-color: #f0f0f0;
 color: #333;
 transition: background-color 0.3s;
}

.page.active {
 background-color: #f85b0053;
 color: #fff;
 cursor: default;
}


.disabled {
 background-color: #ddd;
 color: #666;
 cursor: not-allowed;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
}

.custom-scrollbar {
  scrollbar-width: 2px;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}